<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd ">

	<!-- 声明注解开发方式 -->
	<mvc:annotation-driven />

	<!-- 静态资源的管理 -->
	<mvc:resources location="/upload/" mapping="/upload/**" />

	<!-- 包自动扫描 -->
	<context:component-scan base-package="xin.stdpain.controller" />


	<!-- 内部资源视图解析器，前缀 + 逻辑名 + 后缀 -->
	<bean id="internalResourceViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/*" /> <!-- /user/* -->
			<bean class="xin.stdpain.filter.SecurityFilter"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760" />   <!-- 限制页面上传文件最大为 10M -->
	</bean>
</beans>
