<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xin.stdpain.dao.TaskMapper">   <!-- 命名空间，名字可以随意起，只要不冲突即可 -->
    <!-- 对象映射，可以不写 -->
    <!-- 查询功能，resultType 设置返回值类型 -->
    <insert id="insert" parameterType="xin.stdpain.pojo.Task">
		insert into task (startTime,endTime,title,content,`from`)
		values (#{startTime},#{endTime},#{title},#{content},#{from})
	</insert>
    <select id="listPublic" resultType="xin.stdpain.pojo.Task">
    	SELECT * FROM task where `from`="public"
    </select>
</mapper>